
body {
  background-color: #313438;
  color: #ffffff;
  justify-content: center;
  min-height: 100vh;
  padding-top: 50px;
}

a {
  font-style: bold;
  color: inherit;
}

a:hover {
  color: #ffd700;
}

h2 {
  color: #E7DAA6;
}

.container {
  text-align: center;
  max-width: 1200px;
}

.game-item {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.game-item img {
  width: 160px;
  height: 200px;
  object-fit: cover;
}

.game-name {
  background-color: #1c1f24;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  width: 160px;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-price {
  font-size: 14px;
  color: #ffd700;
  font-weight: normal;
  margin-top: 5px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-item {
  color: #fff;
  display: flex;
  font-size: 16px;
  cursor: pointer;
}

.ml-5 {
  display: flex;
  align-items: center;
  gap: 90px;
  border-radius: 16px 10px;
}
.btn-logout{
  width: 100%;
  background-color: #6d2e9c;
  border: none;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  padding: 5px 20px; /* Aumentei o segundo valor */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); 
  cursor: pointer;
  color: white; 
  text-align: center
}


.search-and-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
}

.form-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-container {
  position: relative; 
}

.form-control {
  width: 300px;
  padding: 10px 30px 10px 10px; 
  font-size: 16px;
  border-radius: 40px;
  border: none;
  box-shadow: #161616 0 0 10px 0;
}

.form-control::placeholder {
  color: #ccc;
  padding: 0 0 0 10px;
}

.welcometext {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 20px 0;
}

.welcometext span {
  display: block;
  margin-bottom: 10px;
}

.search-icon-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none; 
  cursor: pointer;
}

.search-icon-btn:hover {
  background-color: transparent;
}

.activity-item {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.activity-item img {
  width: 160px;
  height: 200px;
  object-fit: cover;
}

.activity-info {
  background-color: #1c1f24;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 0.09px;
  font-size: 16px;
  width: 160px;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  line-height: 0.5;
}

.activity-name {
  margin-top: 7px;
}

.activity-info i {
  font-size: 10px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 300px; 
  margin-top: 0; 
}

.blur-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}

