<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>

    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'GameSync_app/css/game-detail.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="content-wrapper">
        <div class="game-layout">
            <div class="game-cover">
                <img src="{{ cover_url | default:'https://static.displate.com/857x1200/displate/2023-09-06/f3c79263da457bbb583755ac94e4492f_f011ee441d15175d8441d1779e676197.jpg' }}" alt="{{ name }}" class="main-cover" loading="lazy">
            </div>
            <form method="POST">
                {% csrf_token %}
                <select  name="select_country" onchange="this.form.submit()">
                    <option value="br" {% if selected_country == 'br' %}selected{% endif %}>Brazil</option>
                    <option value="us" {% if selected_country == 'us' %}selected{% endif %}>United States</option>
                </select>
            </form>
            <div class="game-info">
                <h1>{{ name }}</h1>
                <p class="game-info-details">{{ developers }}, {{ first_release_date }}</p>
                {% for genre in genres %}
                <div class="genres">
                    {{ genre }}
                </div>
                {% endfor %}
                <div class="genres">
                    {% if itad_price %}
                        <p>Melhor preço: {{ itad_price.price }} - {{ itad_price.shop_name }}</p>
                    {% else %}
                        <p>Preço não disponível</p>
                    {% endif %}
                </div>
                <p class="summary">{{ summary }}</p>
                {% if user.is_authenticated %}
                <div class="buttons">
                    <button class="btn-favorite">
                        <i class="fas fa-star"></i> Favoritar
                    </button>
                    <button class="btn-notify">
                        <i class="fas fa-bell"></i> Notificar
                    </button>
                    <form action="{% url 'add_to_playlist' game_id=game_id game_name=name %}" method="post">
                        {% csrf_token %}
                        <button class="btn-favorite" type="submit">
                            <i class="fas fa-plus"></i>Adicionar à Playlist
                        </button>
                    </form>
                </div>
                {% else %}
                <p><a href="{% url 'login' %}">Faça login</a> para deixar uma review.</p>
                {% endif %}
            </div>
        </div>

        <h2>Platforms</h2>
        {% for platform in platforms %}
        <p>
            {{ platform }}
        </p>
        {% endfor %}

        {% if related_games %}
        <h2>Same series:</h2>
        <div class="game-images">
            {% for game in related_games %}
            {% if game.cover %}
            <div class="game-item">
                <a href="{% url 'game_detail' game.id %}"><img src="{{ game.cover.url }}" alt="{{ game.name }}" loading="lazy"></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        {% if similar_games %}
        <h2>Similar games:</h2>
        <div class="game-images">
            {% for game in similar_games %}
            {% if game.cover %}
            <div class="game-item">
                <a href="{% url 'game_detail' game.id %}"><img src="{{ game.cover.url }}" alt="{{ game.name }}" width="100" loading="lazy"></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <h2>Deixe sua Review</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
    {% else %}
    <p><a href="{% url 'login' %}">Faça login</a> para deixar uma review.</p>
    {% endif %}

    <br>

    <h2>Reviews</h2>
    {% for review in reviews %}
    <div class="review">
        <p><strong>{{ review.user.username }}</strong></p>
        <p>⭐ {{ review.rating }}/5.0</p>
        <p>{{ review.text }}</p>
    </div>
    {% empty %}
    <p>Sem reviews ainda. Seja o primeiro a avaliar!</p>
    {% endfor %}
</body>
</html>