<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamesync - Homepage</title>

    {% load static %}
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'GameSync_app/css/index.css' %}" />
  </head>

  <body>
    <div class="nav-container">
      <div class="search-and-links">
        <i class="fa fa-solid fa-gamepad fa-3x"></i>
        <h3>GameSync</h3>
        <form
          action="{% url 'search_results' %}"
          method="GET"
          class="search-form"
        >
          <div class="form-group d-flex">
            <div class="input-container">
              <input
                type="text"
                name="q"
                class="form-control"
                placeholder="Buscar jogos..."
                required
              />
              <button type="submit" class="search-icon-btn">
                <i class="fa fa-search search-icon"></i>
              </button>
            </div>
          </div>
        </form>

        <div class="nav-links">
          <span class="nav-item">
            <a href="">Lista</a>
          </span>
          <span class="nav-item">
            <a href="">Games</a>
          </span>
        </div>
      </div>
    </div>

    <div class="welcometext">
      <span>
        Explore as melhores promoções de jogos, listas imperdíveis e os
        lançamentos mais esperados no GameSync!
      </span>
      <span class="mb-5">
        <b>Fique por dentro de todas as novidades do mundo dos games.</b>
      </span>
    </div>

    <div class="container">
      <h2>Jogos mais populares</h2>
      <div class="row">
        {% for game in popular_games %}
        <div class="col-2 game-item">
          <img
            src="{{ game.cover.url|default:'https://via.placeholder.com/90' }}"
            alt="{{ game.name }}"
          />
          <div class="game-name">
            {{ game.name }}
            <p class="game-price">USD $00</p>
          </div>
        </div>
        {% empty %}
        <p>Nenhum jogo popular encontrado.</p>
        {% endfor %}
      </div>

      <h2>Mais vendidos</h2>
      <div class="row">
        {% for game in popular_games %}
        <div class="col-2 game-item">
          <img
            src="{{ game.cover.url|default:'https://via.placeholder.com/90' }}"
            alt="{{ game.name }}"
          />
          <div class="game-name">
            {{ game.name }}
            <p class="game-price">USD $00</p>
          </div>
        </div>
        {% empty %}
        <p>Nenhum jogo popular encontrado.</p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>