<script>
    document.addEventListener("DOMContentLoaded", function () {
        let searchForm = document.getElementById("searchForm");
        let searchInput = document.getElementById("searchInput");

        if (searchForm && searchInput) {
            searchForm.addEventListener("submit", function (event) {
                event.preventDefault();
            });

            searchInput.addEventListener("input", function () {
                let filter = this.value.trim().toLowerCase();
                let gameItems = document.querySelectorAll(".game-item");

                gameItems.forEach((item) => {
                    let gameName = item.querySelector(".game-name")?.textContent.toLowerCase();
                    if (gameName) {
                        item.style.display = gameName.includes(filter) ? "flex" : "none";
                    }
                });
            });
        }
    });
</script>

<body>
    <h2>Minha Playlist</h2>

    <div class="user">
        <img src="https://imgs.search.brave.com/hmzEHqliCnHlzTg_zl9RMisHrboHHK2ABh7W5TEujlQ/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudmV4ZWxzLmNv/bS9tZWRpYS91c2Vy/cy8zLzEzNzA0OC9p/c29sYXRlZC9wcmV2/aWV3LzY0MzcwYTRh/MWMwNGEyYmFkZTMx/ZTFkNDYzNzYyNzBi/LWljb25lLWRlLXRy/YWNvLWRhLXBlc3Nv/YS1kby11c3Vhcmlv/LnBuZw"
            class="imagem" alt="usuário">
        <span>{{user.username}}</span>
        <form id="searchForm" class="mb">
            <input type="text" id="searchInput" name="q" class="form-control" placeholder="Buscar jogos..." required />
        </form>
    </div>
    <div class="container">
        <ul class="game-list">
            {% for game in playlist %}
            <li class="game-item">
                {% if game.cover_url %}
                <img src="{{ game.cover_url }}" alt="{{ game.game_name }}">
                {% endif %}
                <div class="game-name">
                    {{ game.game_name }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>


</body>
<style>
    body {
        background-color: #313438;
        color: #ffffff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        font-family: Arial, sans-serif;

    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    .user {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid #3f3e3e;
        padding: 10px;
        width: 100%;
        max-width: 800px;
        border-radius: 12px;
    }

    .imagem {
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 50%;
        object-fit: cover;
    }

    .search-button {
        cursor: pointer;
        font-size: 16px;
        display: flex;
        gap: 0px;
        margin-left: auto;
        background-color: #4b2977;
        border: none;
        color: white;
        padding: 6px 10px;
        border-radius: 5px;
    }

    .search-button i {
        font-size: 18px;
    }

    .search-button:hover {
        background-color: #6d2e9c;
    }

    .form-control {
        margin-left: 420px;
        padding: 6px 8px;
        border-radius: 5px;

    }

    .container {
        text-align: center;
        max-width: 1200px;
        width: 100%;
        margin-top: 20px;
    }

    .game-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
        padding: 0;
        list-style: none;
        width: 100%;
    }

    .game-item {
        flex: 1 1 180px;
        /* Faz os itens crescerem uniformemente */
        max-width: 180px;
        text-align: center;
        margin-bottom: 10px;
        background-color: #1c1f24;
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
        border-radius: 10px;

    }

    .game-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 0px;
    }

    .game-name {
        color: #fff;
        padding: 1px;
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
    }

    #searchForm {
        flex-grow: 1;
        /* Faz o form expandir */
        display: flex;
        justify-content: center;
    }

    .form-control {
        padding: 8px 12px;
        border-radius: 5px;
        width: 100%;
        /* O input ocupa todo o espaço disponível */
        max-width: 200px;
        /* Limite para não ficar gigante */
        border: 1px solid #ccc;
        background-color: #fff;
        color: #000;
        margin-top: 10px;
    }
</style>