<body>
    <h2>Minha Playlist</h2>

    <div class="user">
        <img src="https://imgs.search.brave.com/hmzEHqliCnHlzTg_zl9RMisHrboHHK2ABh7W5TEujlQ/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudmV4ZWxzLmNv/bS9tZWRpYS91c2Vy/cy8zLzEzNzA0OC9p/c29sYXRlZC9wcmV2/aWV3LzY0MzcwYTRh/MWMwNGEyYmFkZTMx/ZTFkNDYzNzYyNzBi/LWljb25lLWRlLXRy/YWNvLWRhLXBlc3Nv/YS1kby11c3Vhcmlv/LnBuZw"
            class="imagem" alt="usuário">
        <span>{{user.username}}</span>
        <input type="text" name="q" class="form-control" placeholder="Buscar jogos..." required />
        <button class="search-button">
            <i class="fas fa-search"></i> Buscar
        </button>
    </div>
    <div class="container">
        <ul class="game-list">
            {% for game in playlist %}
            <li class="game-item">
                {% if game.cover_url %}
                <img src="{{ game.cover_url }}" alt="{{ game.game_name }}">
                {% endif %}
                <div class="game-name">
                    {{ game.game_name }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>


</body>
<style>
    body {
        background-color: #313438;
        color: #ffffff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        font-family: Arial, sans-serif;

    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    .user {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid #3f3e3e;
        padding: 10px;
        width: 100%;
        max-width: 800px;
        border-radius: 12px;
    }

    .imagem {
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 50%;
        object-fit: cover;
    }

    .search-button {
        cursor: pointer;
        font-size: 16px;
        display: flex;
        gap: 0px;
        margin-left: auto;
        background-color: #4b2977;
        border: none;
        color: white;
        padding: 6px 10px;
        border-radius: 5px;
    }

    .search-button i {
        font-size: 18px;
    }

    .search-button:hover {
        background-color: #6d2e9c;
    }

    .form-control {
        margin-left: 420px;
        padding: 6px 8px;
        border-radius: 5px;

    }

    .container {
    text-align: center;
    max-width: 1200px;
    width: 100%;
    margin-top: 20px;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    width: 100%;
}

.game-item {
    width: calc((100% - 60px) / 6); /* Garante 6 itens por linha */
    text-align: center;
    margin-bottom: 30px;
    background-color: #1c1f24;
    padding-bottom: 5px;
    border-radius: 10px;
}

.game-item img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.game-name {
    color: #fff;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
</style>