<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register in the mostly badass game site</title>

    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'gameSync_app/css/register.css' %}" />
  </head>


  <body class="d-flex align-items-center justify-content-center vh-100">
    <div class="register-box">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
      <h2 class="mb-4 text-center">Crie sua conta !</h2>
      <form method="POST">
        {% csrf_token %}

          <!-- Email field -->
          <div class="form-group">
            <label for="id_email" class="form-label text-start d-block">Email:</label>
            {{ form.email }}
          </div>
  
          <!-- Username field -->
          <div class="form-group">
            <label for="id_username" class="form-label text-start d-block">Apelido:</label>
            {{ form.username }}
          </div>
  
          <!-- Password1 field -->
          <div class="form-group">
            <label for="id_password1" class="form-label text-start d-block">Senha:</label>
            {{ form.password1 }}
          </div>
  
          <!-- Password2 field -->
          <div class="form-group">
            <label for="id_password2" class="form-label text-start d-block">Confirme sua senha:</label>
            {{ form.password2 }}
          </div>
        <button type="submit" class="btn btn-primary w-100">
          Cadastrar-se 
        </button>
      </form>
    </div>
  </body>
</html>
