<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register in the mostly badass game site</title>

    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'GameSync_app/css/register.css' %}" />
  </head>

  <body class="d-flex align-items-center justify-content-center vh-100">
    <div class="register-box">
      <h2 class="mb-4 text-center">Register</h2>
      <form method="POST">
        {% csrf_token %}

        <div class="form-group">
          {{ form.email.label_tag }} {{ form.email }}
        </div>
        <div class="form-group">
          {{ form.username.label_tag}} {{ form.username }}
        </div>
        <div class="form-group">
          {{ form.password1.label_tag}} {{ form.password1 }}
        </div>
        <div class="form-group">
          {{ form.password2.label_tag}} {{ form.password2 }}
        </div>

        <button type="submit" class="btn btn-primary w-100">Register</button>
      </form>
    </div>
  </body>
</html>
