# .env file
# copiar esse codigo e criar um .env dentro dessa mesma pasta com o nome .env 
# por algum motivo tem q criar o schema la no banco de dados manualmente (???)
# depois veremos oque podemos fazer sobre isso...
DB_NAME=your_database_name
DB_USER=your_mysql_username
DB_PASSWORD=your_mysql_password
DB_HOST=localhost
DB_PORT=3306

# Credenciais do IGDB
IGDB_CLIENT_ID = your_client_id
IGDB_CLIENT_SECRET = your_client_secret
IGDB_ACCESS_TOKEN = your_access_token
IGDB_BASE_URL = 'https://api.igdb.com/v4/'